nextflow.enable.dsl = 2

// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials ----
aws {
  accessKey = '**'
  secretKey = '**'
  region    = 'us-east-2'
}

// ---- Default parameters ----
params {
    outdir           = null
    input            = null
    pool_ID          = null
    
    barcodes         = "${projectDir}/assets/barcodes.384.fa"
    arrangement_toml = "${projectDir}/assets/arrangement.toml"
    
    length_filter    = 150
    error_rate       = 0.12
}

// ---- Global process settings (shared across all profiles) ----
process {
  memory = '4 GB'
  cpus   = 2

  withName:DORADO_DEMUX {
    container = 'genomicpariscentre/dorado:1.1.1'
    memory    = '8 GB'
    cpus      = 2
  }
  withName:COMBINE_BARCODES  { container = 'ubuntu:20.04' }
  withName:EXTRACT_HEADER    { container = 'ubuntu:20.04' }
  withName:REHEADER_READS    { container = 'seqwell/python:v2.0' }
  withName:CUTADAPT_TRIM     { container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' }
  withName:DEMUX_SUMMARIZE   { container = 'ubuntu:20.04' }
  withName:NANOSTAT          { container = 'quay.io/biocontainers/nanostat:1.6.0--pyhdfd78af_0' }
  withName:MULTIQC           { container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0' }
  withName:READ_LENGTH       { container = 'seqwell/python:v2.0' }
}

// ---- Profiles ----
profiles {

  // --- Local CI / GitHub Actions ---
  test {
    params {
      input   = "${projectDir}/test_data/fastq_pass"
      outdir  = '${projectDir}/ci_output'
      pool_ID = '384_test'
    }
  }

  // --- Local production run (inherits all global defaults) ---
  docker {}
  
  // --- local run (inherits all global defaults) without having to use `-profile` flag
  standard {}


  // --- AWS Batch ---
  awsbatch {
    docker.enabled    = false         // Override global — AWS Batch manages Docker on EC2, not Nextflow
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    process {
      executor = 'awsbatch'
      queue    = 'spot_low_priority'
    }
  }
}