nextflow.enable.dsl = 2


// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials (only used if awsbatch profile is active or input/outdir is in s3 URI) ----
aws {
  accessKey = '**'
  secretKey = '**'
  region = 'us-east-2'
}

// ---- Default parameters ----
params {
    input = null                                 // Path to input FASTQ file(s), e.g. --input "fastq_pass"
    barcodes = "assets/barcodes.384.fa"          // Path to barcode file, e.g. --barcodes barcode.fa
    arrangement_toml = "assets/arrangement.toml"
    outdir = null                                // Default output directory
    length_filter = 150
    error_rate = 0.12
    pool_ID = null
  }



// ---- Profiles ----
profiles {

  // --- For GitHub Actions CI or local dev ---
  test {
    process.executor = 'local'
    docker.enabled = true
    params {
      input = "test_data/fastq_pass"          // Path to input FASTQ file(s), e.g. --input "fastq_pass"
      barcodes = "assets/barcodes.384.fa"        // Path to barcode file, e.g. --barcodes barcode.fa
      arrangement_toml = "assets/arrangement.toml"
      outdir = 'ci_output'                    // Default output directory
      length_filter = 150
      error_rate = 0.12
      pool_ID = '384_test'
    }
  }

  // --- Optional: production run with AWS Batch ---
  awsbatch {
  
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    
    process {
      executor = 'awsbatch'
      queue = 'spot_low_priority'
      memory = '4 GB'
      cpus = 2
      
    withName:DORADO_DEMUX {
        container = 'genomicpariscentre/dorado:1.1.1' 
        memory = '8 GB'
        cpus = 2
    }
    withName:COMBINE_BARCODES {
        container = 'ubuntu:20.04' 
    }
      
    withName:CUTADAPT_TRIM {
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' 
    }
    withName:DEMUX_SUMMARIZE {
        container = 'ubuntu:20.04' 
    }
    
    withName:MERGE_FASTQ {
        container = 'ubuntu:20.04'
    }
    
    withName:NANOSTAT {
        container = 'quay.io/biocontainers/nanostat:1.6.0--pyhdfd78af_0'
    }
    
    withName:MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0'
    }
    
    withName:READ_LENGTH {
        container = 'seqwell/python:v2.0'
    }
    
      
    }

    aws {
      accessKey = '*'
      secretKey = '*'
      region = 'us-east-2'
    }
  }
}

// ---- Process-specific settings (default local + docker) ----
process {
      executor = 'local'
      memory = '4 GB'
      cpus = 2
      
      
    withName:DORADO_DEMUX {
        container = 'genomicpariscentre/dorado:1.1.1' 
        memory = '8 GB'
        cpus = 2
    }
    withName:COMBINE_BARCODES {
        container = 'ubuntu:20.04' 
    }
      
    withName:CUTADAPT_TRIM {
        container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' 
    }
    withName:DEMUX_SUMMARIZE {
        container = 'ubuntu:20.04' 
    }
    
    withName:MERGE_FASTQ {
        container = 'ubuntu:20.04'
    }
    
    withName:NANOSTAT {
        container = 'quay.io/biocontainers/nanostat:1.6.0--pyhdfd78af_0'
    }
    
    withName:MULTIQC {
        container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0'
    }
    
    withName:READ_LENGTH {
        container = 'seqwell/python:v2.0'
    }
    
    
    
}

