nextflow.enable.dsl = 2

// ---- Global Docker settings ----
docker {
  enabled = true
}

// ---- Global AWS credentials ----
aws {
  accessKey = '*'
  secretKey = '**'
  region = '**'
}
// ---- Default parameters ----
params {
    outdir           = null
    input            = null
    pool_ID          = null

    // 'bam' or 'fastq' — must be set explicitly by the user
    data_type        = null

    barcodes         = "${projectDir}/assets/barcodes.384.fa"
    arrangement_toml = "${projectDir}/assets/arrangement.toml"

    length_filter    = 150
    error_rate       = 0.12
}

// ---- Global process settings (shared across all profiles) ----
process {
  memory = '4 GB'
  cpus   = 1

  withName:DORADO_DEMUX            { container = 'genomicpariscentre/dorado:1.1.1'; memory = '8 GB'; cpus = 2 }
  withName:COMBINE_BARCODES        { container = 'ubuntu:20.04' }
  withName:EXTRACT_HEADER          { container = 'quay.io/biocontainers/pysam:0.22.0--py39hcada746_0' }
  withName:REHEADER_READS          { container = 'seqwell/python:v2.0' }
  withName:CUTADAPT_TRIM           { container = 'quay.io/biocontainers/cutadapt:5.0--py310h1fe012e_0' }
  withName:DEMUX_SUMMARIZE         { container = 'ubuntu:20.04' }
  withName:NANOSTAT                { container = 'quay.io/biocontainers/nanostat:1.6.0--pyhdfd78af_0' }
  withName:MULTIQC                 { container = 'quay.io/biocontainers/multiqc:1.25.1--pyhdfd78af_0' }
  withName:READ_LENGTH             { container = 'seqwell/python:v2.0' }
  withName:BAM_TO_FASTQ            { container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0' }
  withName:FILTER_BAM_BY_FASTQ     { container = 'quay.io/biocontainers/samtools:1.21--h50ea8bc_0' }   
}

// ---- Profiles ----
profiles {

  // --- Local CI / GitHub Actions ---
  test {
    params {
      input     = "${projectDir}/test_data/bam_pass"
      outdir    = '${projectDir}/ci_output'
      pool_ID   = 'bab_test'
      data_type = 'bam'
    }
  }

  // --- Local production run ---
  docker {}

  // --- local run without -profile flag ---
  standard {}

  // --- AWS Batch ---
  awsbatch {
    docker.enabled    = false
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
    process {
      executor = 'awsbatch'
      queue    = 'spot_low_priority'
    }
  }
}